---
## Amazon Aurora Labs for MySQL
## Website configuration file
##
## Dependencies:
## none
##
## License:
## This sample code is made available under the MIT-0 license. See the LICENSE file.

# Site information
site_name: Amazon Aurora Labs for MySQL
site_description: Workshop and lab content for Amazon Aurora MySQL compatible databases. This code will contain a series of templates, instructional guides and sample code to educate users on how to use Amazon Aurora features.
site_author: 'amazon-aurora-labs-for-mysql@amazon.com'
site_url: 'https://awsauroralabsmy.com'

# Repository
repo_name: 'aws-samples/amazon-aurora-labs-for-mysql'
repo_url: 'https://github.com/aws-samples/amazon-aurora-labs-for-mysql'

# Copyright
copyright: '&copy; 2019, Amazon Web Services, Inc. or its affiliates. All rights reserved.'

# Theme
theme:
  name: 'material'
  logo: 'assets/images/aws_smile_logo.png'
  favicon: 'assets/images/aws-favicon.ico'
  feature:
    tabs: true
  custom_dir: 'docs/theme'

# Customization
extra_css:
  - 'assets/css/custom.css'
# extra_javascript:
#  - 'assets/js/custom.js'
extra:
  social:
    - type: 'home'
      link: 'https://awsauroralabsmy.com'
    - type: 'amazon'
      link: 'https://aws.amazon.com/rds/aurora/details/mysql-details/'
    - type: 'github'
      link: 'https://github.com/aws-samples/amazon-aurora-labs-for-mysql'

# Extensions
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.mark

# Navigation
nav:
  - Home: 'index.md'
  - Getting Started: 'modules/index.md'
  - Prerequisites:
    - Deploy Environment: 'prereqs/environment/index.md'
    - Connect to the Session Manager Workstation: 'prereqs/connect/index.md'
  - Provisioned:
    - Create a New DB Cluster: 'provisioned/create/index.md'
    - Connect, Load Data and Auto Scale: 'provisioned/interact/index.md'
    - Clone a DB Cluster: 'provisioned/clone/index.md'
    - Backtrack a DB Cluster: 'provisioned/backtrack/index.md'
    - Use Performance Insights: 'provisioned/perf-insights/index.md'
    - Test Fault Tolerance: 'provisioned/failover/index.md'
  - Serverless:
    - Create an Aurora Serverless DB Cluster: 'serverless/create/index.md'
    - Use Aurora Serverless with AWS Lambda Functions: 'serverless/dataapi/index.md'
  - Global Database:
    - Create Infrastructure: 'global/create/index.md'
    - Create Global Database: 'global/gdb/index.md'
    - Connect Application: 'global/biapp/index.md'
    - Monitor Latency: 'global/cw/index.md'
    - Failover: 'global/failover/index.md'
    - Failback: 'global/failback/index.md'
  - Machine Learning:
    - Overview and Prerequisites: 'ml/overview/index.md'
    - Use Comprehend with Aurora: 'ml/comprehend/index.md'
    - Use SageMaker with Aurora: 'ml/sagemaker/index.md'
    - Cleanup Lab Resources: 'ml/cleanup/index.md'
  - Related:
    - Labs and Workshops: 'related/labs/index.md'
  - Win the Data:
    - Get Started: 'win/index.md'
    - Connect to Aurora PostgreSQL: 'win/apg-connect/index.md'
    - Use Query Plan Management: 'win/apg-qpm/index.md'
    - Set up Database Activity Streams: 'win/apg-das/index.md'
    - Connect to Aurora MySQL: 'win/ams-connect/index.md'
    - Clone an Aurora DB cluster: 'win/ams-clone/index.md'
    - Deploy a Global Database: 'win/ams-gdb/index.md'
    - Create a Serverless DB cluster: 'win/ams-srvless-create/index.md'
    - Use the RDS Data API: 'win/ams-srvless-data-api/index.md'
  - Contributing: 'contribute.md'
  - License: 'license.md'
