/*
Amazon Aurora Labs for MySQL
Custom stylesheet

Dependencies:
none

License:
This sample code is made available under the MIT-0 license. See the LICENSE file.
*/

:root {
  --md-default-fg-color: #161E2D;
  --md-default-fg-color--light: #232F3E;
  --md-default-bg-color: #FFFFFF;
  --md-primary-fg-color: #527FFF;
  --md-accent-fg-color: #FF9900;
  --md-default-bg-color--light: #B45B07;
  --md-default-bg-color--lighter: #FF9900;
  --md-default-bg-color--lightest: #FFCC83;
}

.md-header {
  background-color: var(--md-default-fg-color--light);
}

.md-footer-nav {
  background-color: var(--md-default-bg-color--lightest);
  color: var(--md-default-fg-color);
}

.md-footer-meta {
  background-color: var(--md-default-fg-color--light);;
  border-top: 1px solid var(--md-default-fg-color);
}

.md-header-nav__source {
    margin-left: 0;
}

.show {
    display: block;
}

.image > img {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 2px solid var(--md-default-bg-color--lightest);
}

.aurora {
  margin: 0 auto;
  width: 200px;
}
.architecture {
  margin: 0 auto;
  width: 550px;
}
